.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}
.cart-drawer-item {
  max-height: 10rem!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.animate_fade{
  text-align:start
}
.d_f{
  display: flex;
  overflow-x: scroll;
}
.block-title{
  margin-bottom: 1rem!important;
  text-align: start;
}
.content{
  text-align: start;
}
.product-single__addtocart .btn-addtocart{
  width: 100%!important
}
.text_al_s{
  text-align: start;
}
.color_inac{
  color: #0000005e;
}
.pdat{
  padding-top: 70px;
}
.img_cs{
  height: 110px!important;
  width: 110px!important;
  object-fit: cover!important
}
.d_f::-webkit-scrollbar {
  display: none;
}
.start-25{
  width: 100%;
  display: flex !important;
  text-align: center;
  justify-content: center;
}
.of_cover{
  object-fit: cover;
}
.form-select{
  background-image: unset!important;
  font-weight: bold;
}
.products-grid{
  margin-bottom: 40px;
}
.menu-link{
  cursor:pointer
}
.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #333;
}
.pd_10{
  padding:5px
}.product-single__addtocart {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.1875rem;
  justify-content: center;
}
.scrollbar ::-webkit-scrollbar {
  width: 0!important
}
.swiper-container::-webkit-scrollbar {
  width: 0!important
}
.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
.d_f_w{
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
}
/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.animate_fade{
  color: #ffefef;
}
.aside_right.aside_visible{
  height: 100%;
}
.h100_{
  height: 100%;
  width: 100%;
  object-fit: cover;  background-color: rgb(83 45 7 / 50%);
  background-blend-mode: multiply;
}
.mt_50px{
  margin-top: 50px;
}
.img_back_{
  background-image: url('https://www.smeg.com/binaries/content/gallery/smeg-nordics/content-elements/visual-boxes/rust.png/rust.png/brx%3ApostcardDeskLarge')!important; 
  background-position: 20% center;
  background-color: rgb(83 45 7 / 50%);
    background-blend-mode: multiply;
}
.stroke-text {
  --stroke-color: #141F46;
  --stroke-width: 1px;
  color: #ffffff!important;
  font-size: 3.1rem;
  opacity: 0.8!important;
  /* text-shadow: var(--stroke-width) 0 0 var(--stroke-color), calc(var(--stroke-width)* -1) 0 0 var(--stroke-color), 0 var(--stroke-width) 0 var(--stroke-color), 0 calc(var(--stroke-width)* -1) 0 var(--stroke-color); */
}
.slideshow-bg{
  background: #000;
}
.background-img{
  background: #000
}
.menu-link1{
  color: #141F46!important;
  display: inline-block;
    position: relative;
    padding: 0.5em 0;
    line-height: 1.5em;
}
.smooth-16{
  text-align: start;
}
.coimg{
  opacity: 0.8;
}
.menu-link {
  display: inline-block;
  position: relative;
  padding: 0.5em 0;
  color: #ffffffc4!important;
  line-height: 1.5em;
}
.unsetbg{
  background-image: url('https://www.smeg.com/binaries/content/gallery/smeg-nordics/content-elements/visual-boxes/rust.png/rust.png/brx%3ApostcardDeskLarge')!important; 
background:#00000003;
;
}
.cart-drawer-items-list {
  max-height: 27.675rem;
  overflow-y: auto;
  height: 100%;
  margin: 1.875rem 0;
  padding: 0 1.25rem;
}

.smooth-16 {
  text-shadow: unset !important;
}
.bcred{
  border-color: rgb(181, 0, 0);
}
.btn-checkout{
  display: flex;
  align-items: center;
  justify-content: center;}
.text_red{
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(181, 0, 0);

}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mr_15{
  margin-right: 20px;
}
.c_w{
  color: #FFF!important;
  text-align: start;
}
.pc__info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.w210{
  width: 210px;
}
.d-flex{
  margin-top: 5px;
}
.pc__title{
 text-align: start!important;
}
.translate-middle {
  display: flex!important;
  flex-direction: column!important;
  margin-left: 50px!important;
  /* left: 55% !important; */
  align-content: flex-start!important;
  align-items: flex-start!important;
  transform: translate(-50%, -50%) !important;
}
.margin-bottom{
  margin-bottom: 50px;
}
.bg_image{
  background-image:url('./pages/images/home/demo9/collection_grid_1.jpg'); ;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 895px) {
  .translate-middle{
    margin-left:0px!important
  }
  .animate_fade{
    opacity:1!important;
    visibility:initial!important
  }
  .swiper-slide .swiper-slide-duplicate .swiper-slide-duplicate-active{
    opacity:1!important;
    visibility:initial!important
  }
  }
  @media (max-width: 500px) {
    .img_dd{
      width: 50%!important;
    }
    .w500{
      width: 100%!important;
    }
    .paddi{
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
  }
.pc__img-wrapper{
  border-radius: 5px!important;
}
  
.btn-link{
  cursor: pointer;
}
.d-block{
  cursor:pointer
}.product-single__price span.old-price {
  font-size: 1rem;
  color: #767676;
  font-weight: 400;
  text-decoration: line-through;
}
.mb_0{
  display: flex;
  flex-direction: column;
  margin-bottom:0px
}
.old-price_1{
  font-size: 18px;
}
.product-single__price {
  display: flex;
  margin-bottom: 0px !important;
  flex-direction: column;
  justify-content: flex-start;
}
.siteMap{
  display: none!important;
}.header-mobile__navigation .navigation__link {
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding-top:  0.9rem !important;
  padding-bottom: 0.9rem;
  font-size: 1rem;
  text-align: center;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}
.mt_35{
  margin-top: 35px;
}.product-single__details-accordion {
  margin-bottom: 3rem!important
}

.header-desk_type_5 .logo{
  margin-right: 0px!important
}
.smooth-161{
  margin-bottom: 0px !important;
  font-size: 25px;
}
@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.55;
  }
  100% {
      opacity: 1;
  }
}
.mers {
  background-color: #282c3438;
  animation: blink 2s;
  width: 100%;
  height: 200px;
  animation-iteration-count: infinite;
}
.bgcolor{

  background-color: #282c3438;
  animation: blink 1.5s;
  animation-iteration-count: infinite;
  display: flex;
  background-color: #282c3411;
}
.he515{
  height: 515px;
}
.padd1{
  padding-left: 20px;
  padding-right: 20px;
}
.paddi{
  padding-right: 20px;
  padding-left: 20px;

}
.w500{
  width: 49%;
  max-height: 300px;
}    .translate-middle {
  margin-left: 0px !important;
}
.bobo{
  display: flex !important;
  flex-wrap: wrap;
}
.h700{
  height: 700px!important
}
.w100b{
  width: 100%!important;
}
.cube {
  margin: auto;
  font-size: 24px;
  height: 1em;
  width: 1em;
  position: relative;
  transform: rotatex(30deg) rotatey(45deg);
  transform-style: preserve-3d;
  animation: cube-spin 1.5s infinite ease-in-out alternate;
}

.side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
}
.side::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c342f;
  transform: translatez(0.5em);
  animation: cube-explode 1.5s infinite ease-in-out;
  opacity: 0.5;
}

.side:nth-child(1) {
  transform: rotatey(90deg);
}

.side:nth-child(2) {
  transform: rotatey(180deg);
}

.side:nth-child(3) {
  transform: rotatey(270deg);
}

.side:nth-child(4) {
  transform: rotatey(360deg);
}

.side:nth-child(5) {
  transform: rotatex(90deg);
}

.side:nth-child(6) {
  transform: rotatex(270deg);
}

@keyframes cube-spin {
  0% {
    transform: rotatex(30deg) rotatey(45deg);
  }
  100% {
    transform: rotatex(30deg) rotatey(405deg);
  }
}
@keyframes cube-explode {
  0% {
    transform: translatez(0.5em);
  }
  50% {
    transform: translatez(0.75em);
  }
  100% {
    transform: translatez(0.5em);
  }
}
.width20{
  width: 100%!important;
  height: 18px;
}
.w80p{
  width: 80%;
}
.pc__infocorrect{
  margin-top: 11px;
}
.w60p{
  width: 60%;
}
.mt10px{
  margin-top: 5px;
}
.width100{
  width: 100px!important;
  height: 20px;
}

.d_clex{
  display: flex;
  padding: 20px;
  align-items: center;

}
.bt_d{
  border-bottom: 1px solid #0000002a;

}
.d_flq{
  display: flex;
    justify-content: center;
}
.w500{
  object-fit: cover;
}
.img_d{
  height: 140px;
  object-fit: cover;
  margin-bottom: 5px;
}
.img_dd{
  display: flex;
  padding-right: 20px;
  width: 25%;
  justify-content: center;
  flex-direction: column;
}
.text_f{
  font-size: 13px;
    line-height: 20px;
    padding: 5px;
}
.cfd{
  display: flex!important;
  flex-wrap: wrap!important;
  flex-direction: row!important;
  border-bottom: unset!important;

}
.d_clex_1{
  display: flex;
  padding-left: 55px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;

  border-top: 1px dashed #0000002c;

  flex-direction: column;
  align-items: flex-start;
}
.d_clex_text{
font-size: 14px;

}
.d_clex_tr{
  width: 20%;
  
}